<footer class="mt-4 pt-4 pb-4 bg-dark text-light">

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="assets/images/logo.png" class="footer-brand img-fluid mb-2">
                <p class="text-gray-700 mb-2">
                    Comunidad de Intercambios
                </p>
                <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                    <li class="list-inline-item list-social-item me-3">
                        <a href="#!" class="text-decoration-none text-muted">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>

                    <li class="list-inline-item list-social-item me-3">
                        <a href="#!" class="text-decoration-none text-muted">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item me-3">
                        <a href="#!" class="text-decoration-none text-muted">
                            <i class="bi bi-twitch"></i>
                        </a>
                    </li>
                    <li class="list-inline-item list-social-item me-3">
                        <a href="#!" class="text-decoration-none text-muted">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h6 class="fw-bold text-uppercase">Productos</h6>
                <ul class="list-unstyled text-muted mb-6">
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Tecnologia</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Electrodomesticos</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Deportes</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Telefonía</a>
                    </li>
                    <li>
                        <a href="#!" class="text-reset text-decoration-none">Ropa</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h6 class="fw-bold text-uppercase ">Comunidad</h6>
                <ul class="list-unstyled text-muted mb-6">
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Documentación</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Normas de Intercambios</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Changelog</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h6 class="fw-bold text-uppercase">Terminos</h6>
                <ul class="list-unstyled text-muted mb-6">
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Seguridad de Intercambios</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Politicas</a>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h6 class="fw-bold text-uppercase">Condiciones</h6>
                <ul class="list-unstyled text-muted mb-6">
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Documentación</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Changelog</a>
                    </li>
                    <li class="mb-3">
                        <a href="#!" class="text-reset text-decoration-none">Politicas</a>
                    </li>   
                </ul>
            </div>
        </div>
    </div>

</footer>