<div class="container mt-4">
    <div class="row">

        <div class="col-6 offset-3 p-4 ">
            <div class="m-4 p-4">
                <div class="mb-4 pb-2">
                    <h1 class="card-title">Registrate</h1>
                    <p class="lead text-muted">Es fácil y rápido!</p>
                </div>

                <div class="row">
                    <div class="col mb-4">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Juan">
                    </div>
                    <div class="col mb-4">
                        <label class="form-label">Apellido</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Maldonado">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label">Correo</label>
                    <input type="email" class="form-control form-control-lg" placeholder="juan@gmail.com">
                </div>

                <div class="mb-4">
                    <label class="form-label">Fecha de Nacimiento</label>
                    <input type="date" class="form-control form-control-lg" placeholder="dd/mm/aaaa">
                </div>

                <div class="mb-4">
                    <label class="form-label">Constraseña</label>
                    <input type="password" class="form-control form-control-lg" placeholder="*********">
                </div>

                <div class="pt-4 mb-4 d-grid gap-2">
                    <p class="text-muted">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de datos y la Política de cookies.
                        Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras.</p>
                    <button class="btn btn-primary btn-lg">Registrate</button>
                </div>
            </div>

        </div>
    </div>
</div>